<a href="https://colab.research.google.com/github/hitarth2004/numpy-100/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel(r'/content/WQ1.xlsx')
print(df)

    Sample ID    pH  Temperature (A°C)  Turbidity (NTU)
0           1  7.25               23.1              4.5
1           2  7.11               22.3              5.1
2           3  7.03               21.5              3.9
3           4  7.38               22.9              3.2
4           5  7.45               20.7              3.8
5           6  6.89               23.6              4.6
6           7  7.19               21.2              4.2
7           8  6.98               22.1              3.7
8           9  7.31               20.4              4.1
9          10  7.02               22.7              4.8
10         11  7.24               22.4              4.3
11         12  7.17               21.6              3.6
12         13  6.95               22.3              4.1
13         14  7.06               23.5              3.7
14         15  7.48               20.8              3.4
15         16  6.92               21.4              4.9
16         17  7.11               22.0              4.4
17         18  7.30               23.2              3.5
18         19  7.13               21.1              4.0
19         20  7.01               23.0              4.7
20         21  6.83               22.5              3.3
21         22  7.34               20.3              4.2
22         23  7.16               23.4              4.5
23         24  7.25               22.6              3.9
24         25  7.39               21.9              4.1
25         26  7.02               22.2              4.6
26         27  7.27               21.8              3.7
27         28  7.09               23.3              5.0
28         29  7.15               20.6              4.4
29         30  7.07               22.8              3.8
30         31  7.22               22.5              4.3
31         32  6.92               21.7              4.7
32         33  7.13               23.1              3.6
33         34  7.31               20.9              4.0
34         35  7.03               22.6              4.9
35         36  7.21               21.8              3.8
36         37  7.13               22.5              4.2
37         38  7.09               23.1              4.4
38         39  7.35               21.6              3.9
39         40  7.02               22.0              3.2
40         41  7.28               23.5              3.7
41         42  7.14               20.9              4.3
42         43  6.96               22.9              4.8
43         44  7.24               22.7              4.1
44         45  7.37               21.5              4.5
45         46  7.08               23.3              3.6
46         47  7.16               21.1              4.4
47         48  7.03               22.4              4.0
48         49  7.32               23.2              4.5
49         50  7.19               20.8              3.9

In [ ]:
import pandas as pd
df=pd.read_excel(r'/content/WQ1.xlsx')
print(df)
df1=pd.read_excel(r'/content/WQ2.xlsx')
print(df1)

    Sample ID    pH  Temperature (A°C)  Turbidity (NTU)
0           1  7.25               23.1              4.5
1           2  7.11               22.3              5.1
2           3  7.03               21.5              3.9
3           4  7.38               22.9              3.2
4           5  7.45               20.7              3.8
5           6  6.89               23.6              4.6
6           7  7.19               21.2              4.2
7           8  6.98               22.1              3.7
8           9  7.31               20.4              4.1
9          10  7.02               22.7              4.8
10         11  7.24               22.4              4.3
11         12  7.17               21.6              3.6
12         13  6.95               22.3              4.1
13         14  7.06               23.5              3.7
14         15  7.48               20.8              3.4
15         16  6.92               21.4              4.9
16         17  7.11               22.0              4.4
17         18  7.30               23.2              3.5
18         19  7.13               21.1              4.0
19         20  7.01               23.0              4.7
20         21  6.83               22.5              3.3
21         22  7.34               20.3              4.2
22         23  7.16               23.4              4.5
23         24  7.25               22.6              3.9
24         25  7.39               21.9              4.1
25         26  7.02               22.2              4.6
26         27  7.27               21.8              3.7
27         28  7.09               23.3              5.0
28         29  7.15               20.6              4.4
29         30  7.07               22.8              3.8
30         31  7.22               22.5              4.3
31         32  6.92               21.7              4.7
32         33  7.13               23.1              3.6
33         34  7.31               20.9              4.0
34         35  7.03               22.6              4.9
35         36  7.21               21.8              3.8
36         37  7.13               22.5              4.2
37         38  7.09               23.1              4.4
38         39  7.35               21.6              3.9
39         40  7.02               22.0              3.2
40         41  7.28               23.5              3.7
41         42  7.14               20.9              4.3
42         43  6.96               22.9              4.8
43         44  7.24               22.7              4.1
44         45  7.37               21.5              4.5
45         46  7.08               23.3              3.6
46         47  7.16               21.1              4.4
47         48  7.03               22.4              4.0
48         49  7.32               23.2              4.5
49         50  7.19               20.8              3.9
    Sample ID    pH  Dissolved Oxygen (mg/L)  Conductivity (ÂµS/cm)
0           1  7.25                      7.8                    342
1           2  7.11                      6.2                    335
2           3  7.03                      8.3                    356
3           4  7.38                      9.5                    327
4           5  7.45                      8.1                    352
5           6  6.89                      7.2                    320
6           7  7.19                      8.8                    350
7           8  6.98                      6.9                    325
8           9  7.31                      8.4                    360
9          10  7.02                      7.5                    330
10         11  7.24                      8.6                    347
11         12  7.17                      7.1                    328
12         13  6.95                      6.4                    341
13         14  7.06                      9.2                    355
14         15  7.48                      7.9                    329
15         16  6.92                      6.8                    362
16         17  7.11                      8.1                    336
17         18  7.30                      9.6                    351
18         19  7.13                      7.5                    319
19         20  7.01                      8.9                    330
20         21  6.83                      6.1                    348
21         22  7.34                      8.0                    365
22         23  7.16                      7.7                    326
23         24  7.25                      9.1                    355
24         25  7.39                      7.4                    317
25         26  7.02                      6.6                    339
26         27  7.27                      8.7                    354
27         28  7.09                      7.0                    324
28         29  7.15                      8.5                    358
29         30  7.07                      6.9                    332
30         31  7.22                      8.9                    345
31         32  6.92                      6.3                    363
32         33  7.13                      8.2                    347
33         34  7.31                      7.6                    316
34         35  7.03                      7.9                    331
35         36  7.21                      8.5                    346
36         37  7.13                      7.7                    321
37         38  7.09                      7.2                    335
38         39  7.35                      9.2                    357
39         40  7.02                      8.8                    318
40         41  7.28                      9.5                    353
41         42  7.14                      8.1                    330
42         43  6.96                      6.5                    344
43         44  7.24                      8.0                    327
44         45  7.37                      9.3                    361
45         46  7.08                      7.8                    338
46         47  7.16                      7.3                    352
47         48  7.03                      8.3                    319
48         49  7.32                      8.9                    346
49         50  7.19                      9.1                    331

In [ ]:
df3=pd.merge(df,df1)
df3

,Sample ID,pH,Temperature (A°C),Turbidity (NTU),Dissolved Oxygen (mg/L),Conductivity (ÂµS/cm)
0,1,7.25,23.1,4.5,7.8,342
1,2,7.11,22.3,5.1,6.2,335
2,3,7.03,21.5,3.9,8.3,356
3,4,7.38,22.9,3.2,9.5,327
4,5,7.45,20.7,3.8,8.1,352
5,6,6.89,23.6,4.6,7.2,320
6,7,7.19,21.2,4.2,8.8,350
7,8,6.98,22.1,3.7,6.9,325
8,9,7.31,20.4,4.1,8.4,360
9,10,7.02,22.7,4.8,7.5,330
10,11,7.24,22.4,4.3,8.6,347
11,12,7.17,21.6,3.6,7.1,328
12,13,6.95,22.3,4.1,6.4,341
13,14,7.06,23.5,3.7,9.2,355
14,15,7.48,20.8,3.4,7.9,329
15,16,6.92,21.4,4.9,6.8,362
16,17,7.11,22.0,4.4,8.1,336
17,18,7.30,23.2,3.5,9.6,351
18,19,7.13,21.1,4.0,7.5,319
19,20,7.01,23.0,4.7,8.9,330
20,21,6.83,22.5,3.3,6.1,348
21,22,7.34,20.3,4.2,8.0,365
22,23,7.16,23.4,4.5,7.7,326
23,24,7.25,22.6,3.9,9.1,355
24,25,7.39,21.9,4.1,7.4,317
25,26,7.02,22.2,4.6,6.6,339
26,27,7.27,21.8,3.7,8.7,354
27,28,7.09,23.3,5.0,7.0,324
28,29,7.15,20.6,4.4,8.5,358
29,30,7.07,22.8,3.8,6.9,332
30,31,7.22,22.5,4.3,8.9,345
31,32,6.92,21.7,4.7,6.3,363
32,33,7.13,23.1,3.6,8.2,347
33,34,7.31,20.9,4.0,7.6,316
34,35,7.03,22.6,4.9,7.9,331
35,36,7.21,21.8,3.8,8.5,346
36,37,7.13,22.5,4.2,7.7,321
37,38,7.09,23.1,4.4,7.2,335
38,39,7.35,21.6,3.9,9.2,357
39,40,7.02,22.0,3.2,8.8,318
40,41,7.28,23.5,3.7,9.5,353
41,42,7.14,20.9,4.3,8.1,330
42,43,6.96,22.9,4.8,6.5,344
43,44,7.24,22.7,4.1,8.0,327
44,45,7.37,21.5,4.5,9.3,361
45,46,7.08,23.3,3.6,7.8,338
46,47,7.16,21.1,4.4,7.3,352
47,48,7.03,22.4,4.0,8.3,319
48,49,7.32,23.2,4.5,8.9,346
49,50,7.19,20.8,3.9,9.1,331

In [ ]:
#Ascending Order
import pandas as pd
df1.sort_values(by=['Dissolved Oxygen (mg/L)'])
df.sort_values(by=['Turbidity (NTU)'])

    Sample ID    pH  Temperature (A°C)  Turbidity (NTU)
3           4  7.38               22.9              3.2
39         40  7.02               22.0              3.2
20         21  6.83               22.5              3.3
14         15  7.48               20.8              3.4
17         18  7.30               23.2              3.5
11         12  7.17               21.6              3.6
45         46  7.08               23.3              3.6
32         33  7.13               23.1              3.6
7           8  6.98               22.1              3.7
40         41  7.28               23.5              3.7
26         27  7.27               21.8              3.7
13         14  7.06               23.5              3.7
29         30  7.07               22.8              3.8
4           5  7.45               20.7              3.8
35         36  7.21               21.8              3.8
49         50  7.19               20.8              3.9
38         39  7.35               21.6              3.9
2           3  7.03               21.5              3.9
23         24  7.25               22.6              3.9
18         19  7.13               21.1              4.0
47         48  7.03               22.4              4.0
33         34  7.31               20.9              4.0
43         44  7.24               22.7              4.1
24         25  7.39               21.9              4.1
8           9  7.31               20.4              4.1
12         13  6.95               22.3              4.1
36         37  7.13               22.5              4.2
21         22  7.34               20.3              4.2
6           7  7.19               21.2              4.2
30         31  7.22               22.5              4.3
41         42  7.14               20.9              4.3
10         11  7.24               22.4              4.3
46         47  7.16               21.1              4.4
28         29  7.15               20.6              4.4
16         17  7.11               22.0              4.4
37         38  7.09               23.1              4.4
44         45  7.37               21.5              4.5
48         49  7.32               23.2              4.5
22         23  7.16               23.4              4.5
0           1  7.25               23.1              4.5
5           6  6.89               23.6              4.6
25         26  7.02               22.2              4.6
31         32  6.92               21.7              4.7
19         20  7.01               23.0              4.7
9          10  7.02               22.7              4.8
42         43  6.96               22.9              4.8
34         35  7.03               22.6              4.9
15         16  6.92               21.4              4.9
27         28  7.09               23.3              5.0
1           2  7.11               22.3              5.1

In [ ]:
#desending order
import pandas as pd
df1.sort_values(by=['Dissolved Oxygen (mg/L)'],ascending=False)
df.sort_values(by=['Turbidity (NTU)'],ascending=False)

    Sample ID    pH  Temperature (A°C)  Turbidity (NTU)
1           2  7.11               22.3              5.1
27         28  7.09               23.3              5.0
15         16  6.92               21.4              4.9
34         35  7.03               22.6              4.9
42         43  6.96               22.9              4.8
9          10  7.02               22.7              4.8
31         32  6.92               21.7              4.7
19         20  7.01               23.0              4.7
25         26  7.02               22.2              4.6
5           6  6.89               23.6              4.6
48         49  7.32               23.2              4.5
44         45  7.37               21.5              4.5
22         23  7.16               23.4              4.5
0           1  7.25               23.1              4.5
28         29  7.15               20.6              4.4
46         47  7.16               21.1              4.4
16         17  7.11               22.0              4.4
37         38  7.09               23.1              4.4
41         42  7.14               20.9              4.3
30         31  7.22               22.5              4.3
10         11  7.24               22.4              4.3
36         37  7.13               22.5              4.2
6           7  7.19               21.2              4.2
21         22  7.34               20.3              4.2
24         25  7.39               21.9              4.1
8           9  7.31               20.4              4.1
43         44  7.24               22.7              4.1
12         13  6.95               22.3              4.1
33         34  7.31               20.9              4.0
47         48  7.03               22.4              4.0
18         19  7.13               21.1              4.0
38         39  7.35               21.6              3.9
49         50  7.19               20.8              3.9
23         24  7.25               22.6              3.9
2           3  7.03               21.5              3.9
35         36  7.21               21.8              3.8
29         30  7.07               22.8              3.8
4           5  7.45               20.7              3.8
13         14  7.06               23.5              3.7
7           8  6.98               22.1              3.7
26         27  7.27               21.8              3.7
40         41  7.28               23.5              3.7
45         46  7.08               23.3              3.6
32         33  7.13               23.1              3.6
11         12  7.17               21.6              3.6
17         18  7.30               23.2              3.5
14         15  7.48               20.8              3.4
20         21  6.83               22.5              3.3
3           4  7.38               22.9              3.2
39         40  7.02               22.0              3.2

In [ ]:
def pH():
   import pandas as pd
   a=df1.sort_values(by=['pH'],ascending=False)
   b=a.nlargest(5,'pH','first')
   print(b)
pH()

    Sample ID    pH  Dissolved Oxygen (mg/L)  Conductivity (ÂµS/cm)
14         15  7.48                      7.9                    329
4           5  7.45                      8.1                    352
24         25  7.39                      7.4                    317
3           4  7.38                      9.5                    327
44         45  7.37                      9.3                    361

In [ ]:
def pH():
   import pandas as pd
   a=df1.sort_values(by=['pH'])
   b=a.nlargest(5,'pH','first')
   print(b)
pH()

    Sample ID    pH  Dissolved Oxygen (mg/L)  Conductivity (ÂµS/cm)
14         15  7.48                      7.9                    329
4           5  7.45                      8.1                    352
24         25  7.39                      7.4                    317
3           4  7.38                      9.5                    327
44         45  7.37                      9.3                    361

In [ ]:
b = df['pH']
print(b)
print(df[['pH','Turbidity (NTU)']])
c = df.columns.tolist()
print(c)

0     7.25
1     7.11
2     7.03
3     7.38
4     7.45
5     6.89
6     7.19
7     6.98
8     7.31
9     7.02
10    7.24
11    7.17
12    6.95
13    7.06
14    7.48
15    6.92
16    7.11
17    7.30
18    7.13
19    7.01
20    6.83
21    7.34
22    7.16
23    7.25
24    7.39
25    7.02
26    7.27
27    7.09
28    7.15
29    7.07
30    7.22
31    6.92
32    7.13
33    7.31
34    7.03
35    7.21
36    7.13
37    7.09
38    7.35
39    7.02
40    7.28
41    7.14
42    6.96
43    7.24
44    7.37
45    7.08
46    7.16
47    7.03
48    7.32
49    7.19
Name: pH, dtype: float64
      pH  Turbidity (NTU)
0   7.25              4.5
1   7.11              5.1
2   7.03              3.9
3   7.38              3.2
4   7.45              3.8
5   6.89              4.6
6   7.19              4.2
7   6.98              3.7
8   7.31              4.1
9   7.02              4.8
10  7.24              4.3
11  7.17              3.6
12  6.95              4.1
13  7.06              3.7
14  7.48              3.4
15  6.92              4.9
16  7.11              4.4
17  7.30              3.5
18  7.13              4.0
19  7.01              4.7
20  6.83              3.3
21  7.34              4.2
22  7.16              4.5
23  7.25              3.9
24  7.39              4.1
25  7.02              4.6
26  7.27              3.7
27  7.09              5.0
28  7.15              4.4
29  7.07              3.8
30  7.22              4.3
31  6.92              4.7
32  7.13              3.6
33  7.31              4.0
34  7.03              4.9
35  7.21              3.8
36  7.13              4.2
37  7.09              4.4
38  7.35              3.9
39  7.02              3.2
40  7.28              3.7
41  7.14              4.3
42  6.96              4.8
43  7.24              4.1
44  7.37              4.5
45  7.08              3.6
46  7.16              4.4
47  7.03              4.0
48  7.32              4.5
49  7.19              3.9
['Sample ID', 'pH', 'Temperature (A°C)', 'Turbidity (NTU)']

In [ ]:
d = df['pH'].value_counts()
print(d)
d = df['Turbidity (NTU)'].value_counts()
print(d)

7.02    3
7.03    3
7.13    3
7.25    2
7.09    2
7.11    2
6.92    2
7.24    2
7.16    2
7.31    2
7.19    2
7.14    1
7.27    1
7.35    1
7.21    1
7.22    1
7.07    1
6.96    1
7.37    1
7.15    1
7.08    1
7.28    1
7.01    1
7.39    1
7.34    1
6.83    1
7.30    1
7.48    1
7.06    1
6.95    1
7.17    1
6.98    1
6.89    1
7.45    1
7.38    1
7.32    1
Name: pH, dtype: int64
4.5    4
3.7    4
3.9    4
4.4    4
4.1    4
4.0    3
3.6    3
4.3    3
4.2    3
3.8    3
4.8    2
4.6    2
4.9    2
3.2    2
4.7    2
5.1    1
3.4    1
3.5    1
3.3    1
5.0    1
Name: Turbidity (NTU), dtype: int64

In [ ]:
d = df['pH'].value_counts()[7.02]
print(d)

3

In [ ]:
#List Operations
import statistics
import pandas as pd

# Specify the Excel file path
excel_file = ('/content/WQ1.xlsx')

# Read the Excel file into a DataFrame using pandas
df = pd.read_excel(excel_file)

# Convert the DataFrame column to a list
column_data = df['pH'].tolist()  # Replace 'ColumnName' with the actual column name

# Perform four operations on the list
operation1 = sum(column_data)
operation2 = max(column_data)
operation3 = min(column_data)
operation4 = statistics.mean(column_data)

# Print the results
print("Sum:", operation1)
print("Maximum:", operation2)
print("Minimum:", operation3)
print("Avg:", operation4)

Sum: 357.7299999999999
Maximum: 7.48
Minimum: 6.83
Avg: 7.1546

In [ ]:
#Tuple Operations
import statistics
import pandas as pd

# Read the Excel file
df = pd.read_excel('/content/WQ1.xlsx')

# Convert the DataFrame to a tuple
data_tuple = tuple(map(tuple, df.values))

# Print the tuple
print(data_tuple)
# Perform four operations on the tuple
Operation1 = sum(column_data)
operation2 = max(column_data)
operation3 = min(column_data)
operation4 = statistics.median(column_data)
# Print the results
print("Sum:", operation1)
print("Maximum:", operation2)
print("Minimum:", operation3)
print("avg:", operation4)

((1.0, 7.25, 23.1, 4.5), (2.0, 7.11, 22.3, 5.1), (3.0, 7.03, 21.5, 3.9), (4.0, 7.38, 22.9, 3.2), (5.0, 7.45, 20.7, 3.8), (6.0, 6.89, 23.6, 4.6), (7.0, 7.19, 21.2, 4.2), (8.0, 6.98, 22.1, 3.7), (9.0, 7.31, 20.4, 4.1), (10.0, 7.02, 22.7, 4.8), (11.0, 7.24, 22.4, 4.3), (12.0, 7.17, 21.6, 3.6), (13.0, 6.95, 22.3, 4.1), (14.0, 7.06, 23.5, 3.7), (15.0, 7.48, 20.8, 3.4), (16.0, 6.92, 21.4, 4.9), (17.0, 7.11, 22.0, 4.4), (18.0, 7.3, 23.2, 3.5), (19.0, 7.13, 21.1, 4.0), (20.0, 7.01, 23.0, 4.7), (21.0, 6.83, 22.5, 3.3), (22.0, 7.34, 20.3, 4.2), (23.0, 7.16, 23.4, 4.5), (24.0, 7.25, 22.6, 3.9), (25.0, 7.39, 21.9, 4.1), (26.0, 7.02, 22.2, 4.6), (27.0, 7.27, 21.8, 3.7), (28.0, 7.09, 23.3, 5.0), (29.0, 7.15, 20.6, 4.4), (30.0, 7.07, 22.8, 3.8), (31.0, 7.22, 22.5, 4.3), (32.0, 6.92, 21.7, 4.7), (33.0, 7.13, 23.1, 3.6), (34.0, 7.31, 20.9, 4.0), (35.0, 7.03, 22.6, 4.9), (36.0, 7.21, 21.8, 3.8), (37.0, 7.13, 22.5, 4.2), (38.0, 7.09, 23.1, 4.4), (39.0, 7.35, 21.6, 3.9), (40.0, 7.02, 22.0, 3.2), (41.0, 7.28, 23.5, 3.7), (42.0, 7.14, 20.9, 4.3), (43.0, 6.96, 22.9, 4.8), (44.0, 7.24, 22.7, 4.1), (45.0, 7.37, 21.5, 4.5), (46.0, 7.08, 23.3, 3.6), (47.0, 7.16, 21.1, 4.4), (48.0, 7.03, 22.4, 4.0), (49.0, 7.32, 23.2, 4.5), (50.0, 7.19, 20.8, 3.9))
Sum: 357.7299999999999
Maximum: 7.48
Minimum: 6.83
avg: 7.145

In [ ]:
#Dictionary Operations
import pandas as pd

# Read the Excel file
data_frame = pd.read_excel('/content/WQ1.xlsx')

# Convert DataFrame to dictionary
a = data_frame.to_dict()
print(a)

# Perform operations on the dictionary
# 1. Accessing a value
value = data_dict['pH']
print(value)

#2.Keys
print(a.keys())

#3.Values
print(a.values())

#4.Finding Length
len = a.__len__()
print(len)

#5.pop
a.pop("Sample ID")
print(a)

{'Sample ID': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 34, 34: 35, 35: 36, 36: 37, 37: 38, 38: 39, 39: 40, 40: 41, 41: 42, 42: 43, 43: 44, 44: 45, 45: 46, 46: 47, 47: 48, 48: 49, 49: 50}, 'pH': {0: 7.25, 1: 7.11, 2: 7.03, 3: 7.38, 4: 7.45, 5: 6.89, 6: 7.19, 7: 6.98, 8: 7.31, 9: 7.02, 10: 7.24, 11: 7.17, 12: 6.95, 13: 7.06, 14: 7.48, 15: 6.92, 16: 7.11, 17: 7.3, 18: 7.13, 19: 7.01, 20: 6.83, 21: 7.34, 22: 7.16, 23: 7.25, 24: 7.39, 25: 7.02, 26: 7.27, 27: 7.09, 28: 7.15, 29: 7.07, 30: 7.22, 31: 6.92, 32: 7.13, 33: 7.31, 34: 7.03, 35: 7.21, 36: 7.13, 37: 7.09, 38: 7.35, 39: 7.02, 40: 7.28, 41: 7.14, 42: 6.96, 43: 7.24, 44: 7.37, 45: 7.08, 46: 7.16, 47: 7.03, 48: 7.32, 49: 7.19}, 'Temperature (Â°C)': {0: 23.1, 1: 22.3, 2: 21.5, 3: 22.9, 4: 20.7, 5: 23.6, 6: 21.2, 7: 22.1, 8: 20.4, 9: 22.7, 10: 22.4, 11: 21.6, 12: 22.3, 13: 23.5, 14: 20.8, 15: 21.4, 16: 22.0, 17: 23.2, 18: 21.1, 19: 23.0, 20: 22.5, 21: 20.3, 22: 23.4, 23: 22.6, 24: 21.9, 25: 22.2, 26: 21.8, 27: 23.3, 28: 20.6, 29: 22.8, 30: 22.5, 31: 21.7, 32: 23.1, 33: 20.9, 34: 22.6, 35: 21.8, 36: 22.5, 37: 23.1, 38: 21.6, 39: 22.0, 40: 23.5, 41: 20.9, 42: 22.9, 43: 22.7, 44: 21.5, 45: 23.3, 46: 21.1, 47: 22.4, 48: 23.2, 49: 20.8}, 'Turbidity (NTU)': {0: 4.5, 1: 5.1, 2: 3.9, 3: 3.2, 4: 3.8, 5: 4.6, 6: 4.2, 7: 3.7, 8: 4.1, 9: 4.8, 10: 4.3, 11: 3.6, 12: 4.1, 13: 3.7, 14: 3.4, 15: 4.9, 16: 4.4, 17: 3.5, 18: 4.0, 19: 4.7, 20: 3.3, 21: 4.2, 22: 4.5, 23: 3.9, 24: 4.1, 25: 4.6, 26: 3.7, 27: 5.0, 28: 4.4, 29: 3.8, 30: 4.3, 31: 4.7, 32: 3.6, 33: 4.0, 34: 4.9, 35: 3.8, 36: 4.2, 37: 4.4, 38: 3.9, 39: 3.2, 40: 3.7, 41: 4.3, 42: 4.8, 43: 4.1, 44: 4.5, 45: 3.6, 46: 4.4, 47: 4.0, 48: 4.5, 49: 3.9}}
{0: 7.25, 1: 7.11, 2: 7.03, 3: 7.38, 4: 7.45, 5: 6.89, 6: 7.19, 7: 6.98, 8: 7.31, 9: 7.02, 10: 7.24, 11: 7.17, 12: 6.95, 13: 7.06, 14: 7.48, 15: 6.92, 16: 7.11, 17: 7.3, 18: 7.13, 19: 7.01, 20: 6.83, 21: 7.34, 22: 7.16, 23: 7.25, 24: 7.39, 25: 7.02, 26: 7.27, 27: 7.09, 28: 7.15, 29: 7.07, 30: 7.22, 31: 6.92, 32: 7.13, 33: 7.31, 34: 7.03, 35: 7.21, 36: 7.13, 37: 7.09, 38: 7.35, 39: 7.02, 40: 7.28, 41: 7.14, 42: 6.96, 43: 7.24, 44: 7.37, 45: 7.08, 46: 7.16, 47: 7.03, 48: 7.32, 49: 7.19}
dict_keys(['Sample ID', 'pH', 'Temperature (Â°C)', 'Turbidity (NTU)'])
dict_values([{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 34, 34: 35, 35: 36, 36: 37, 37: 38, 38: 39, 39: 40, 40: 41, 41: 42, 42: 43, 43: 44, 44: 45, 45: 46, 46: 47, 47: 48, 48: 49, 49: 50}, {0: 7.25, 1: 7.11, 2: 7.03, 3: 7.38, 4: 7.45, 5: 6.89, 6: 7.19, 7: 6.98, 8: 7.31, 9: 7.02, 10: 7.24, 11: 7.17, 12: 6.95, 13: 7.06, 14: 7.48, 15: 6.92, 16: 7.11, 17: 7.3, 18: 7.13, 19: 7.01, 20: 6.83, 21: 7.34, 22: 7.16, 23: 7.25, 24: 7.39, 25: 7.02, 26: 7.27, 27: 7.09, 28: 7.15, 29: 7.07, 30: 7.22, 31: 6.92, 32: 7.13, 33: 7.31, 34: 7.03, 35: 7.21, 36: 7.13, 37: 7.09, 38: 7.35, 39: 7.02, 40: 7.28, 41: 7.14, 42: 6.96, 43: 7.24, 44: 7.37, 45: 7.08, 46: 7.16, 47: 7.03, 48: 7.32, 49: 7.19}, {0: 23.1, 1: 22.3, 2: 21.5, 3: 22.9, 4: 20.7, 5: 23.6, 6: 21.2, 7: 22.1, 8: 20.4, 9: 22.7, 10: 22.4, 11: 21.6, 12: 22.3, 13: 23.5, 14: 20.8, 15: 21.4, 16: 22.0, 17: 23.2, 18: 21.1, 19: 23.0, 20: 22.5, 21: 20.3, 22: 23.4, 23: 22.6, 24: 21.9, 25: 22.2, 26: 21.8, 27: 23.3, 28: 20.6, 29: 22.8, 30: 22.5, 31: 21.7, 32: 23.1, 33: 20.9, 34: 22.6, 35: 21.8, 36: 22.5, 37: 23.1, 38: 21.6, 39: 22.0, 40: 23.5, 41: 20.9, 42: 22.9, 43: 22.7, 44: 21.5, 45: 23.3, 46: 21.1, 47: 22.4, 48: 23.2, 49: 20.8}, {0: 4.5, 1: 5.1, 2: 3.9, 3: 3.2, 4: 3.8, 5: 4.6, 6: 4.2, 7: 3.7, 8: 4.1, 9: 4.8, 10: 4.3, 11: 3.6, 12: 4.1, 13: 3.7, 14: 3.4, 15: 4.9, 16: 4.4, 17: 3.5, 18: 4.0, 19: 4.7, 20: 3.3, 21: 4.2, 22: 4.5, 23: 3.9, 24: 4.1, 25: 4.6, 26: 3.7, 27: 5.0, 28: 4.4, 29: 3.8, 30: 4.3, 31: 4.7, 32: 3.6, 33: 4.0, 34: 4.9, 35: 3.8, 36: 4.2, 37: 4.4, 38: 3.9, 39: 3.2, 40: 3.7, 41: 4.3, 42: 4.8, 43: 4.1, 44: 4.5, 45: 3.6, 46: 4.4, 47: 4.0, 48: 4.5, 49: 3.9}])
4
{'pH': {0: 7.25, 1: 7.11, 2: 7.03, 3: 7.38, 4: 7.45, 5: 6.89, 6: 7.19, 7: 6.98, 8: 7.31, 9: 7.02, 10: 7.24, 11: 7.17, 12: 6.95, 13: 7.06, 14: 7.48, 15: 6.92, 16: 7.11, 17: 7.3, 18: 7.13, 19: 7.01, 20: 6.83, 21: 7.34, 22: 7.16, 23: 7.25, 24: 7.39, 25: 7.02, 26: 7.27, 27: 7.09, 28: 7.15, 29: 7.07, 30: 7.22, 31: 6.92, 32: 7.13, 33: 7.31, 34: 7.03, 35: 7.21, 36: 7.13, 37: 7.09, 38: 7.35, 39: 7.02, 40: 7.28, 41: 7.14, 42: 6.96, 43: 7.24, 44: 7.37, 45: 7.08, 46: 7.16, 47: 7.03, 48: 7.32, 49: 7.19}, 'Temperature (Â°C)': {0: 23.1, 1: 22.3, 2: 21.5, 3: 22.9, 4: 20.7, 5: 23.6, 6: 21.2, 7: 22.1, 8: 20.4, 9: 22.7, 10: 22.4, 11: 21.6, 12: 22.3, 13: 23.5, 14: 20.8, 15: 21.4, 16: 22.0, 17: 23.2, 18: 21.1, 19: 23.0, 20: 22.5, 21: 20.3, 22: 23.4, 23: 22.6, 24: 21.9, 25: 22.2, 26: 21.8, 27: 23.3, 28: 20.6, 29: 22.8, 30: 22.5, 31: 21.7, 32: 23.1, 33: 20.9, 34: 22.6, 35: 21.8, 36: 22.5, 37: 23.1, 38: 21.6, 39: 22.0, 40: 23.5, 41: 20.9, 42: 22.9, 43: 22.7, 44: 21.5, 45: 23.3, 46: 21.1, 47: 22.4, 48: 23.2, 49: 20.8}, 'Turbidity (NTU)': {0: 4.5, 1: 5.1, 2: 3.9, 3: 3.2, 4: 3.8, 5: 4.6, 6: 4.2, 7: 3.7, 8: 4.1, 9: 4.8, 10: 4.3, 11: 3.6, 12: 4.1, 13: 3.7, 14: 3.4, 15: 4.9, 16: 4.4, 17: 3.5, 18: 4.0, 19: 4.7, 20: 3.3, 21: 4.2, 22: 4.5, 23: 3.9, 24: 4.1, 25: 4.6, 26: 3.7, 27: 5.0, 28: 4.4, 29: 3.8, 30: 4.3, 31: 4.7, 32: 3.6, 33: 4.0, 34: 4.9, 35: 3.8, 36: 4.2, 37: 4.4, 38: 3.9, 39: 3.2, 40: 3.7, 41: 4.3, 42: 4.8, 43: 4.1, 44: 4.5, 45: 3.6, 46: 4.4, 47: 4.0, 48: 4.5, 49: 3.9}}

In [ ]:
#Set Operations
import pandas as pd

# Read the Excel sheet into a pandas DataFrame
df = pd.read_excel('/content/WQ1.xlsx')

# Convert the DataFrame columns to sets
a = {}
for column in df.columns:
    a[column] = set(df[column])

# Print the sets
for column, column_set in a.items():
    print(f'{column}: {column_set}')

#1.For loop
for i in a:
  print(a)

#2.Clear
a.clear()
print("Clear Set:-",a)

Sample ID: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}
pH: {7.35, 6.89, 7.17, 7.06, 7.45, 7.38, 7.03, 7.11, 7.25, 7.19, 6.98, 7.31, 6.92, 6.83, 7.02, 7.24, 7.48, 7.01, 7.34, 7.16, 7.27, 7.09, 7.15, 7.07, 7.32, 7.08, 6.95, 6.96, 7.13, 7.3, 7.39, 7.22, 7.21, 7.28, 7.14, 7.37}
Temperature (A°C): {20.8, 21.6, 21.4, 23.5, 23.2, 23.0, 21.1, 20.7, 21.5, 22.9, 22.3, 23.1, 23.6, 20.4, 20.3, 20.6, 20.9, 21.2, 21.9, 21.8, 21.7, 22.1, 22.7, 22.4, 22.0, 22.5, 23.4, 22.6, 22.2, 23.3, 22.8}
Turbidity (NTU): {3.2, 3.9, 4.5, 5.1, 3.8, 4.6, 4.2, 3.7, 4.1, 4.8, 4.3, 5.0, 3.5, 4.9, 4.4, 4.0, 3.6, 3.3, 4.7, 3.4}
{'Sample ID': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}, 'pH': {7.35, 6.89, 7.17, 7.06, 7.45, 7.38, 7.03, 7.11, 7.25, 7.19, 6.98, 7.31, 6.92, 6.83, 7.02, 7.24, 7.48, 7.01, 7.34, 7.16, 7.27, 7.09, 7.15, 7.07, 7.32, 7.08, 6.95, 6.96, 7.13, 7.3, 7.39, 7.22, 7.21, 7.28, 7.14, 7.37}, 'Temperature (A°C)': {20.8, 21.6, 21.4, 23.5, 23.2, 23.0, 21.1, 20.7, 21.5, 22.9, 22.3, 23.1, 23.6, 20.4, 20.3, 20.6, 20.9, 21.2, 21.9, 21.8, 21.7, 22.1, 22.7, 22.4, 22.0, 22.5, 23.4, 22.6, 22.2, 23.3, 22.8}, 'Turbidity (NTU)': {3.2, 3.9, 4.5, 5.1, 3.8, 4.6, 4.2, 3.7, 4.1, 4.8, 4.3, 5.0, 3.5, 4.9, 4.4, 4.0, 3.6, 3.3, 4.7, 3.4}}
{'Sample ID': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}, 'pH': {7.35, 6.89, 7.17, 7.06, 7.45, 7.38, 7.03, 7.11, 7.25, 7.19, 6.98, 7.31, 6.92, 6.83, 7.02, 7.24, 7.48, 7.01, 7.34, 7.16, 7.27, 7.09, 7.15, 7.07, 7.32, 7.08, 6.95, 6.96, 7.13, 7.3, 7.39, 7.22, 7.21, 7.28, 7.14, 7.37}, 'Temperature (A°C)': {20.8, 21.6, 21.4, 23.5, 23.2, 23.0, 21.1, 20.7, 21.5, 22.9, 22.3, 23.1, 23.6, 20.4, 20.3, 20.6, 20.9, 21.2, 21.9, 21.8, 21.7, 22.1, 22.7, 22.4, 22.0, 22.5, 23.4, 22.6, 22.2, 23.3, 22.8}, 'Turbidity (NTU)': {3.2, 3.9, 4.5, 5.1, 3.8, 4.6, 4.2, 3.7, 4.1, 4.8, 4.3, 5.0, 3.5, 4.9, 4.4, 4.0, 3.6, 3.3, 4.7, 3.4}}
{'Sample ID': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}, 'pH': {7.35, 6.89, 7.17, 7.06, 7.45, 7.38, 7.03, 7.11, 7.25, 7.19, 6.98, 7.31, 6.92, 6.83, 7.02, 7.24, 7.48, 7.01, 7.34, 7.16, 7.27, 7.09, 7.15, 7.07, 7.32, 7.08, 6.95, 6.96, 7.13, 7.3, 7.39, 7.22, 7.21, 7.28, 7.14, 7.37}, 'Temperature (A°C)': {20.8, 21.6, 21.4, 23.5, 23.2, 23.0, 21.1, 20.7, 21.5, 22.9, 22.3, 23.1, 23.6, 20.4, 20.3, 20.6, 20.9, 21.2, 21.9, 21.8, 21.7, 22.1, 22.7, 22.4, 22.0, 22.5, 23.4, 22.6, 22.2, 23.3, 22.8}, 'Turbidity (NTU)': {3.2, 3.9, 4.5, 5.1, 3.8, 4.6, 4.2, 3.7, 4.1, 4.8, 4.3, 5.0, 3.5, 4.9, 4.4, 4.0, 3.6, 3.3, 4.7, 3.4}}
{'Sample ID': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}, 'pH': {7.35, 6.89, 7.17, 7.06, 7.45, 7.38, 7.03, 7.11, 7.25, 7.19, 6.98, 7.31, 6.92, 6.83, 7.02, 7.24, 7.48, 7.01, 7.34, 7.16, 7.27, 7.09, 7.15, 7.07, 7.32, 7.08, 6.95, 6.96, 7.13, 7.3, 7.39, 7.22, 7.21, 7.28, 7.14, 7.37}, 'Temperature (A°C)': {20.8, 21.6, 21.4, 23.5, 23.2, 23.0, 21.1, 20.7, 21.5, 22.9, 22.3, 23.1, 23.6, 20.4, 20.3, 20.6, 20.9, 21.2, 21.9, 21.8, 21.7, 22.1, 22.7, 22.4, 22.0, 22.5, 23.4, 22.6, 22.2, 23.3, 22.8}, 'Turbidity (NTU)': {3.2, 3.9, 4.5, 5.1, 3.8, 4.6, 4.2, 3.7, 4.1, 4.8, 4.3, 5.0, 3.5, 4.9, 4.4, 4.0, 3.6, 3.3, 4.7, 3.4}}
Clear Set:- {}

In [ ]:
#Json
import pandas as pd

# Read the Excel file
a = pd.read_excel('/content/WQ1.xlsx')

# Convert the DataFrame to JSON
j= a.to_json(orient='records')

# Print the JSON data
print(j)

[{"Sample ID":1,"pH":7.25,"Temperature (A\u00b0C)":23.1,"Turbidity (NTU)":4.5},{"Sample ID":2,"pH":7.11,"Temperature (A\u00b0C)":22.3,"Turbidity (NTU)":5.1},{"Sample ID":3,"pH":7.03,"Temperature (A\u00b0C)":21.5,"Turbidity (NTU)":3.9},{"Sample ID":4,"pH":7.38,"Temperature (A\u00b0C)":22.9,"Turbidity (NTU)":3.2},{"Sample ID":5,"pH":7.45,"Temperature (A\u00b0C)":20.7,"Turbidity (NTU)":3.8},{"Sample ID":6,"pH":6.89,"Temperature (A\u00b0C)":23.6,"Turbidity (NTU)":4.6},{"Sample ID":7,"pH":7.19,"Temperature (A\u00b0C)":21.2,"Turbidity (NTU)":4.2},{"Sample ID":8,"pH":6.98,"Temperature (A\u00b0C)":22.1,"Turbidity (NTU)":3.7},{"Sample ID":9,"pH":7.31,"Temperature (A\u00b0C)":20.4,"Turbidity (NTU)":4.1},{"Sample ID":10,"pH":7.02,"Temperature (A\u00b0C)":22.7,"Turbidity (NTU)":4.8},{"Sample ID":11,"pH":7.24,"Temperature (A\u00b0C)":22.4,"Turbidity (NTU)":4.3},{"Sample ID":12,"pH":7.17,"Temperature (A\u00b0C)":21.6,"Turbidity (NTU)":3.6},{"Sample ID":13,"pH":6.95,"Temperature (A\u00b0C)":22.3,"Turbidity (NTU)":4.1},{"Sample ID":14,"pH":7.06,"Temperature (A\u00b0C)":23.5,"Turbidity (NTU)":3.7},{"Sample ID":15,"pH":7.48,"Temperature (A\u00b0C)":20.8,"Turbidity (NTU)":3.4},{"Sample ID":16,"pH":6.92,"Temperature (A\u00b0C)":21.4,"Turbidity (NTU)":4.9},{"Sample ID":17,"pH":7.11,"Temperature (A\u00b0C)":22.0,"Turbidity (NTU)":4.4},{"Sample ID":18,"pH":7.3,"Temperature (A\u00b0C)":23.2,"Turbidity (NTU)":3.5},{"Sample ID":19,"pH":7.13,"Temperature (A\u00b0C)":21.1,"Turbidity (NTU)":4.0},{"Sample ID":20,"pH":7.01,"Temperature (A\u00b0C)":23.0,"Turbidity (NTU)":4.7},{"Sample ID":21,"pH":6.83,"Temperature (A\u00b0C)":22.5,"Turbidity (NTU)":3.3},{"Sample ID":22,"pH":7.34,"Temperature (A\u00b0C)":20.3,"Turbidity (NTU)":4.2},{"Sample ID":23,"pH":7.16,"Temperature (A\u00b0C)":23.4,"Turbidity (NTU)":4.5},{"Sample ID":24,"pH":7.25,"Temperature (A\u00b0C)":22.6,"Turbidity (NTU)":3.9},{"Sample ID":25,"pH":7.39,"Temperature (A\u00b0C)":21.9,"Turbidity (NTU)":4.1},{"Sample ID":26,"pH":7.02,"Temperature (A\u00b0C)":22.2,"Turbidity (NTU)":4.6},{"Sample ID":27,"pH":7.27,"Temperature (A\u00b0C)":21.8,"Turbidity (NTU)":3.7},{"Sample ID":28,"pH":7.09,"Temperature (A\u00b0C)":23.3,"Turbidity (NTU)":5.0},{"Sample ID":29,"pH":7.15,"Temperature (A\u00b0C)":20.6,"Turbidity (NTU)":4.4},{"Sample ID":30,"pH":7.07,"Temperature (A\u00b0C)":22.8,"Turbidity (NTU)":3.8},{"Sample ID":31,"pH":7.22,"Temperature (A\u00b0C)":22.5,"Turbidity (NTU)":4.3},{"Sample ID":32,"pH":6.92,"Temperature (A\u00b0C)":21.7,"Turbidity (NTU)":4.7},{"Sample ID":33,"pH":7.13,"Temperature (A\u00b0C)":23.1,"Turbidity (NTU)":3.6},{"Sample ID":34,"pH":7.31,"Temperature (A\u00b0C)":20.9,"Turbidity (NTU)":4.0},{"Sample ID":35,"pH":7.03,"Temperature (A\u00b0C)":22.6,"Turbidity (NTU)":4.9},{"Sample ID":36,"pH":7.21,"Temperature (A\u00b0C)":21.8,"Turbidity (NTU)":3.8},{"Sample ID":37,"pH":7.13,"Temperature (A\u00b0C)":22.5,"Turbidity (NTU)":4.2},{"Sample ID":38,"pH":7.09,"Temperature (A\u00b0C)":23.1,"Turbidity (NTU)":4.4},{"Sample ID":39,"pH":7.35,"Temperature (A\u00b0C)":21.6,"Turbidity (NTU)":3.9},{"Sample ID":40,"pH":7.02,"Temperature (A\u00b0C)":22.0,"Turbidity (NTU)":3.2},{"Sample ID":41,"pH":7.28,"Temperature (A\u00b0C)":23.5,"Turbidity (NTU)":3.7},{"Sample ID":42,"pH":7.14,"Temperature (A\u00b0C)":20.9,"Turbidity (NTU)":4.3},{"Sample ID":43,"pH":6.96,"Temperature (A\u00b0C)":22.9,"Turbidity (NTU)":4.8},{"Sample ID":44,"pH":7.24,"Temperature (A\u00b0C)":22.7,"Turbidity (NTU)":4.1},{"Sample ID":45,"pH":7.37,"Temperature (A\u00b0C)":21.5,"Turbidity (NTU)":4.5},{"Sample ID":46,"pH":7.08,"Temperature (A\u00b0C)":23.3,"Turbidity (NTU)":3.6},{"Sample ID":47,"pH":7.16,"Temperature (A\u00b0C)":21.1,"Turbidity (NTU)":4.4},{"Sample ID":48,"pH":7.03,"Temperature (A\u00b0C)":22.4,"Turbidity (NTU)":4.0},{"Sample ID":49,"pH":7.32,"Temperature (A\u00b0C)":23.2,"Turbidity (NTU)":4.5},{"Sample ID":50,"pH":7.19,"Temperature (A\u00b0C)":20.8,"Turbidity (NTU)":3.9}]

In [ ]:
#average value of temperature
import pandas as pd

df = pd.read_excel('/content/WQ1.xlsx')
average_temperature = df['Temperature (A°C)'].mean()

print("Average Temperature:", average_temperature)


#average value of turbidity
df = pd.read_excel('/content/WQ1.xlsx')
average_turbidity = df['Turbidity (NTU)'].mean()

print("Average Turbidity (NTU):", average_turbidity)

#average value of pH
df = pd.read_excel('/content/WQ1.xlsx')
average_pH = df['pH'].mean()

print("Average pH:", average_pH)

Average Temperature: 22.146000000000004
Average Turbidity (NTU): 4.136
Average pH: 7.1546

In [ ]:
import pandas as pd

# Specify the path to the Excel file
file_path = "/content/WQ1.xlsx"

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Extract the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

# Print the results
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 50
Number of columns: 4